@font-face {
  font-family: "Goldman-Regular";
  src:
    url("./fonts/Goldman-Regular.woff2") format("woff");
}
@font-face {
  font-family: "JetBrainsMono-Regular";
  src:
    url("./fonts/JetBrainsMono-Regular.woff2") format("woff");
}
@font-face {
  font-family: "ScopeOne-Regular";
  src:
    url("./fonts/ScopeOne-Regular.woff2") format("woff");
}

:root {
  --square: 16px;
  --gap: 2px;
  --rows: 28;
  --columns: 12;
  --column-width: calc(var(--square) + calc(5 * var(--gap)));
  --font-family-display: 'Goldman-Regular';
  --font-family-serif: 'ScopeOne-Regular';
  --font-family-mono: 'JetBrainsMono-Regular';
  --color-accent: #FFEB00;
  --color-accent-dim: #5E5600;
  --color-accent-transparent: color-mix(in srgb, var(--color-accent-dim), transparent 80%);
  --color-background: #000;
  --color-background-emphasis: #FFF1;
  --color-foreground: #FFF;
  --color-foreground-deemphasis: #AAA;
  --color-error: #A0153E;
  --color-success: #059212;
  --color-background-accent: #00224D;
}

html {
  background-color: var(--color-background);
  background: linear-gradient(to top, var(--color-background) 80%, #393901);
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    'header'
    'game'
    '.'
    'instructions'
    'footer';
  grid-template-rows: auto auto 50px auto auto;
  grid-template-columns: auto;
  font-family: var(--font-family-serif), serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  color: var(--color-accent);
}

@media (min-width: 700px) {
  body {
    grid-template-areas:
      'header       header'
      'instructions game'
      'footer       footer';
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-family-display), sans-serif;
}

header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-family-display), sans-serif;
}

footer {
  margin: 12px;
  grid-area: footer;
  text-align: center;
  color: var(--color-foreground-deemphasis);
}

header h1 {
  margin-bottom: 0;
}

.instructions {
  grid-area: instructions;
  color: var(--color-foreground-deemphasis);
  transition: color 0.3s ease;
  display: flex;
  flex-direction: column;
}

.instructions h2 {
  margin-bottom: 0;
  padding: 12px 12px 0 12px;
  border-radius: 4px
}

.instructions article {
  padding: 12px;
  border-radius: 4px;
}
.instructions article > h3 {
  margin-top: 4px;
}

.level-9 .instructions .emphasize-on-level-9,
.level-8 .instructions .emphasize-on-level-8,
.level-7 .instructions .emphasize-on-level-7,
.level-6 .instructions .emphasize-on-level-6,
.level-5 .instructions .emphasize-on-level-5,
.level-4 .instructions .emphasize-on-level-4,
.level-3 .instructions .emphasize-on-level-3,
.level-2 .instructions .emphasize-on-level-2,
.level-1 .instructions .emphasize-on-level-1,
.level-0 .instructions .emphasize-on-level-0 {
  color: var(--color-foreground);
  background-color: var(--color-background-emphasis);
  order: -1;
}

.game {
  grid-area: game;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: auto;
  margin-top: 36px;
}

.game > *:first-child {
  margin-top: auto;
}
.game > *:last-child {
  margin-bottom: auto;
}
.tile {
  width: var(--square);
  height: var(--square);
  line-height: var(--square);
  text-align: center;
  border-radius: 2px;
  padding: calc(2 * var(--gap));
  margin: calc(0.5 * var(--gap));
  background-color: var(--color-background);
  color: var(--color-foreground);
  transition: margin-bottom 1s;
  font-family: var(--font-family-mono), monospace;
  font-weight: 900;
}
.tile--new {
  margin-bottom: calc(var(--rows) * var(--square));
}
.board {
  border: 2px solid var(--color-accent-dim);
  border-radius: 4px;
  height: calc(var(--square) * var(--rows));
  width: auto;
  display: flex;
  padding: var(--gap);
  flex-direction: row;
  position: relative;
  overflow: hidden;
}
.game--too-many-colors .board {
  background-color: color-mix(in srgb, var(--color-error), transparent 90%);
}
.game--win .board {
  background-color: color-mix(in srgb, var(--color-success), transparent 60%);
}
.game--win .board__column {
  display: none;
}
.game:not(.game--win) .board__you-win {
  display: none;
}
.board__you-win {
  width: calc(var(--columns) * var(--column-width));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.board__you-win button {
  margin-top: 36px;
  --button-size: 24px;
}
.board__you-win button.play-next-level {
  background-color: var(--color-background-accent);
  color: white;
}
.board__you-win button.play-next-level:hover {
  background-color: color-mix(in srgb, var(--color-background-accent), var(--color-background) 30%);
}
.board__you-win > *:first-child {
  margin-top: auto;
}
.board__you-win > *:last-child {
  margin-bottom: auto;
}
.board__column {
  width: auto;
  min-width: var(--column-width);
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  --underline-unit: 4px;
  margin-bottom: calc(2 * var(--underline-unit));
}
.board__column:after {
  content: '';
  position: absolute;
  width: 80%;
  height: var(--underline-unit);
  --underline-color: transparent;
  background-color: var(--underline-color);
  margin: auto;
  bottom: calc(-2 * var(--underline-unit));
  left: 0;
  right: 0;
  border-radius: 2px;
}
.board__column--selected:after {
  --underline-color: var(--color-accent);
}
.game--too-many-colors .board__column--selected:after {
  --underline-color: var(--color-error);
}
.timer {
  height: var(--square);
  margin: var(--square) 0;
  width: calc(var(--columns) * var(--column-width));
  position: relative;
  border-radius: var(--square);
  background-color: var(--color-accent-transparent);
}
.timer__slider {
  content: '';
  position: absolute;
  height: 100%;
  background-color: var(--color-accent-dim);
  border-radius: inherit;
  animation: var(--tick-time) timer linear;
}
.game--win .timer__slider {
  animation: none;
}
@keyframes timer {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
.input {
  font-size: 32px;
  padding: 12px;
  border-radius: 8px;
  font-family: var(--font-family-mono), monospace;
  display: flex;
  flex-direction: row;
  color: var(--color-accent-dim);
  margin-top: 12px;
}
.input:before {
  content: '/';
  display: block;
}
.input:after {
  content: '/g';
  display: block;
}
.input input {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-color: var(--color-accent-dim);
  outline: 0;
  width: 5em;
  font-family: inherit;
  background-color: transparent;
  font-size: inherit;
  color: var(--color-accent);
}
.input input:focus {
  background-color: var(--color-accent-transparent);
  border-color: var(--color-accent);
}
.game.game--too-many-colors .input {
  background-color: color-mix(in srgb, var(--color-error), transparent 70%);
}

code {
  background-color: var(--color-accent-transparent);
  padding: 2px 6px;
  border-radius: 4px;
  font-family: var(--font-family-mono), monospace;
}
button {
  border: none;
  --this-button-size: var(--button-size, 1em);
  border-radius: calc(1.5 * var(--this-button-size));
  padding: calc(0.5 * var(--this-button-size)) var(--this-button-size);
  font-size: var(--this-button-size);
  cursor: pointer;
}
